.navigation button {
  min-width: 100px;
}

.text-center{
  margin: auto
}

.App {
  max-width: 70%;
  margin: 0 auto;
  margin-top: 100px;
}
.card2{
  max-width: 60%;
}
#navigation {
  margin-bottom: 2rem;
}

#navigation button {
  margin-right: 1rem;
}

#slide {
  border: 1px solid #eee;
  padding: 1rem;
  min-height: 300px;
}

button {
    min-width: 80px;
}
.img-cat{
   width: 50%;
   border-radius: 5px;
}
.cat{
   padding: 20px;
   text-align: center;
   justify-items: center;
   
}
.cat div{
display: flex;
align-items: center;
}
.cat div p{
   padding: 1rem;
   font-size: 1rem;
}

@media screen and (max-width: 1040px){
   .cat div{
      display: block;
   }
   .img-cat{
      width: 80%;
   }
   
}